@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
.cabecario{
    width: 100vw;
    height: 89px;
    background-color: #212343;
}
#logo{
    margin-top: 30px;
    padding-left: 30px;
}

.banner{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/header_bg.png);/* prestar a atencao pois colocando a imagem dessa forma ela fica de fundo e colocando como a teg img ela fica na frente */
}
.center{
    width: 400px;
    height: calc(100% + 30PX);
    margin-right: 100px;
    float: right; /*aqui eu consegui mudar a div de lado rapidamente */
    background-color: white;
}


